kicad/*/*-backups/
fp-info-cache
kicad/*/production/backups/
kicad/spinali_add-on_optical_flow/~spinali_add-on_optical_flow.kicad_sch.lck
kicad/spinali_add-on_optical_flow/spinali_add-on_optical_flow.kicad_prl
kicad/spinali_add-on_GNSS_F9P/spinali_add-on_GNSS_F9P.kicad_prl
*.kicad_prl
*.kicad_prl
*.lck
*.lck
kicad/spinali_add-on_GNSS_F9P/~spinali_add-on_GNSS_F9P.kicad_pcb.lck
kicad/spinali_MR-PAE-Injector/\#auto_saved_files\#
